/* CSS Document */
body,div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,table,tr,td,form,input,label,select,textarea,span,img,a,em,strong,*{ margin:0; padding:0;font-family:"Microsoft YaHei"; box-sizing: border-box;}
ul,ol,li{ list-style:none;}
h1,h2,h3,h4,h5,h6,b{font-family:"Microsoft YaHei";  font-weight:normal;}
dd{font-family:"Microsoft YaHei";}
input,select,textarea{ vertical-align:middle;}
img{ border:none; vertical-align:middle;}
a{ text-decoration:none;font-family:"Microsoft YaHei";}
.clear{ clear:both; height:0px; width:0px; overflow:hidden;}
em{font-style:normal}
textarea {resize : none; outline:none;}
input,select{ outline:none; cursor:pointer;}
body{background: #f8f8f8;}

.ylong_box{
    width: 100%;
    min-width: 1200px;
    height: 85px;
    -moz-box-shadow:0px -4px 20px #bababa;
    -webkit-box-shadow:0px -4px 20px #bababa;
    box-shadow:0px -4px 20px #bababa;
    background: #ffffff;
    border-bottom: 1px solid #cccccc;
}
.ylong_one{
    width: 1200px;
    height: 85px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ylong_oneimg{
    width: 259px;
    height: 33px;
}
.ylong_oneli{
    float: left;
    margin-left: 40px;
    font-size: 16px;
    color: #252525;
}
.ylong_oneli a{
    color: #252525;
    cursor: pointer;
}

.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hb_li_active{
    color: #1268a3;
}
.hb_li_active a{
    color: #1268a3;
}
.ylong_two{
    min-width: 1200px;
}
.ylong_thr{
    width: 100%;
    min-width: 1200px;
    height: 948px;
    background: url("../images/bg_01.jpg")no-repeat center center;
    background-size: 100% 100%;
    object-fit: cover;
}
.ylong_thrcon{
    width: 1200px;
    margin: 0 auto;
}
.ylong_thrh1{
    text-align: center;
    padding-top: 80px;
    color: #282828;
    font-size: 36px;
}
.ylong_thrsp{
    text-align: center;
    display: block;
    padding-top: 16px;
    color: #727378;
}
.ylong_thrb{
    width: 60px;
    height: 3px;
    background: #1268a3;
    display: block;
    margin: 28px auto 0;
}
.ylong_threr{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.ylong_thrsan{
    width: 380px;
    height: 486px;
    background: #ffffff;
    border: 1px solid #cecece;
    box-shadow: 0 0 40px #bababa;
    cursor: pointer;
}
.ylong_thrsi{
    width: 94px;
    height: 94px;
    display: block;
    margin: 60px auto 0;
    transition: 0.5s; transform: rotateY(360deg) scale(1, 1);
    background: url("../images/sytw.png") no-repeat center center;
}
.ylong_thrsip{
    width: 286px;
    line-height: 30px;
    color: #585858;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
}
.ylong_thrwu{
    font-size: 20px;
    color: #252525;
    display: block;
    text-align: center;
    margin-top: 20px;
    transition: 0.5s; transform: rotateY(360deg) scale(1, 1);
}
.ylong_thrwub{
    width: 20px;
    height: 1px;
    background: #252525;
    display: block;
    margin: 14px auto 30px;
    transition: 0.5s; transform: rotateY(360deg) scale(1, 1);
}
.ylong_threrimg{
    width: 26px;
    height: 26px;
    display: block;
    margin: 50px auto 0;
}
.ylong_thrsan:hover{
    background: #1268a3;
}
.ylong_thrsan:hover .ylong_thrsi{
    background: url("../images/sytwg.png") no-repeat center center;
    transition: 0.5s; transform: rotateY(0deg) scale(1, 1);
}
.ylong_thrliu{
    width: 94px;
    height: 94px;
    display: block;
    margin: 60px auto 0;
    transition: 0.5s; transform: rotateY(360deg) scale(1, 1);
    background: url("../images/sytr.png") no-repeat center center;
}
.ylong_thrsan:hover .ylong_thrliu{
    background: url("../images/sytrg.png") no-repeat center center;
    transition: 0.5s; transform: rotateY(0deg) scale(1, 1);
}
.ylong_thrqi{
    width: 94px;
    height: 94px;
    display: block;
    margin: 60px auto 0;
    transition: 0.5s; transform: rotateY(360deg) scale(1, 1);
    background: url("../images/syfo.png") no-repeat center center;
}
.ylong_thrsan:hover .ylong_thrqi{
    background: url("../images/syfog.png") no-repeat center center;
    transition: 0.5s; transform: rotateY(0deg) scale(1, 1);
}
.ylong_thrsan:hover .ylong_thrwu{
    color: #ffffff;
    transition: 0.5s; transform: rotateY(0deg) scale(1, 1);
}
.ylong_thrsan:hover .ylong_thrwub{
    background: #ffffff;
    transition: 0.5s; transform: rotateY(0deg) scale(1, 1);
}
.ylong_thrsan:hover .ylong_thrsip{
    color: #b3dbf6;
}
.ylong_for{
    width: 100%;
    min-width: 1200px;
    height: 880px;
    background: url("../images/jx.jpg")no-repeat center center;
    background-size: 100% 100%;
    object-fit: cover;
}
.ylong_for .ylong_thrh1{
    color: #fdfdfd;
}
.ylong_for .ylong_thrsp{
    color: #fdfdfd;
}
.ylong_for .ylong_thrb{
    background: #ffffff;
}
.ylong_foryi{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}
.ylong_fore{
    width: 260px;
    height: 350px;
    background: #ffffff;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    cursor: pointer;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.21);
}
.tuli{
    height: 101px;
    width: 109px;
    margin: 75px auto 40px;
    display: block;
}
.ylong_foyimg{
    margin: auto;
    display: block;
}
.ylong_foyimg2{
    display: none;
}
.ylong_foyisp{
    font-size: 24px;
    color: #191919;
    text-align: center;
    display: block;
    line-height: 42px;
    margin-top: 40px;
}
.ylong_foyib{
    display: block;
}
.ylong_fore:hover{
    background: #00a0e9;
}
.ylong_fore:hover .ylong_foyisp{
    color: #ffffff;
}
.ylong_fore:hover .ylong_foyimg2{
    display: block;
}
.ylong_fore:hover .ylong_foyimg{
    display: none;
}
.ylong_fore:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
@keyframes shake {
    10%, 90% {transform: translate3d(-1px, 0, 0);}
    20%, 80% {transform: translate3d(2px, 0, 0);}
    30%, 50%, 70% {transform: translate3d(-4px, 0, 0);}
    40%, 60% {transform: translate3d(4px, 0, 0);}
}
.ylong_fiv{
    width: 100%;
    min-width: 1200px;
    height: 845px;
    background: url("../images/kua.jpg")no-repeat center center;
    background-size: 100% 100%;
    object-fit: cover;
}
.ylong_fivyi{
    width: 630px;
    margin: 60px auto 0;
}
.ylong_fivp{
    font-size: 16px;
    color: #191919;
    line-height: 50px;
}
.ylong_fiva{
    width: 175px;
    height: 45px;
    background: #1268a3;
    display: block;
    margin: 60px auto 0;
    text-align: center;
    line-height: 45px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
}
.ylong_six{
    width: 100%;
    min-width: 1200px;
    height: 500px;
    background: url("../images/dbg.jpg")no-repeat center center;
    background-size: 100% 100%;
    object-fit: cover;
}
.ylong_sixyi{
    display: flex;
    justify-content: space-between;
}
.ylong_siximg{
    width: 259px;
    height: 33px;
    display: block;
    object-fit: cover;
    margin-top: 110px;
}
.ylong_sixb{
    font-size: 18px;
    color: #ffffff;
    display: block;
    margin-top: 14px;
    text-align: center;
}
.ylong_sixli:first-child{
    color: #ffffff;
    font-size: 16px;
    margin-top: 110px;
    padding-bottom: 18px;
}
.ylong_sixli{
    color: #9fa7b2;
    font-size: 14px;
    cursor: pointer;
    padding-top: 18px;
}
.ylong_sixli a{
    color: #9fa7b2;
}
.erma{
    width: 118px;
    height: 118px;
    margin-top: 110px;
    display: block;
    object-fit: cover;
}
.ermasp{
    font-size: 14px;
    color: #9fa7b2;
    display: block;
    text-align: center;
    margin-top: 20px;
}
.ylong_sixli:hover a{
    color: #00a0e9;
}
.ylong_sixer{
    cursor: pointer;
}
.ermasp:hover{
    color: #ffffff;
}
.footp{
    font-size: 14px;
    color: #9fa7b2;
    cursor: pointer;
    text-align: center;
    margin-top: 155px;
}
.keone{
    width: 1200px;
    min-width: 1200px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.keyip{
    font-size: 14px;
    color: #333333;
    cursor: pointer;
}
.keyia{
    color: #999999;
}
.keyia:hover{
    color: #333333;
}
.keyisp{
    margin-left: 7px;
    margin-right: 7px;
}
.keyipt{
    width: 295px;
    height: 30px;
    border: 1px solid #d8d8d8;
    border-radius: 6px;
    background: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
}
.keyipt::placeholder{
    color:#888582;
    font-size: 14px;
}
.keyipt2{
    width: 65px;
    height: 30px;
    border-radius: 6px;
    font-size: 14px;
    color: #ffffff;
    border: none;
    background: #1268a3;
}
.keyipt2:hover{
    background: #e48012;
}
.ketwo{
    width: 1200px;
    margin: 0 auto;
}
.ketwo_yi{
    width: 385px;
    height: 300px;
    background:#ffffff;
    border-radius: 6px;
    padding: 25px;
    cursor: pointer;
    border-top:4px solid #ffffff;
    margin-bottom: 22px;
}
.ketwo_yi:hover{
    border-top:4px solid #e48012;
    box-shadow: 0 0 20px #bababa;
}
.ketwo_con{
    width: 1200px;
    min-width: 1200px;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    flex-wrap: wrap;
}
/*.ketwo_con:after{*/
/*    content: '';*/
/*    width: 385px;*/
/*}*/
.ketwo_yip{
    font-size: 18px;
    color: #000000;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
    word-wrap: break-word;
    height: 48px;
}
.ketwo_yisp{
    font-size: 14px;
    color: #999999;
    display: block;
    background: url("../images/sj.png") no-repeat left center;
    background-size: 25px 24px;
    padding-left: 30px;
    line-height: 24px;
    margin-top: 15px;
}
.ketwo_yib{
    font-size: 12px;
    color: #e48012;
    background: #f8f8f8;
    padding:2px 9px 2px 9px;
    margin-right: 10px;
    float: left;
    display: block;
    margin-top: 15px;
}
.ketwo_yidiv{
    display: table;
    width: 100%;
}
.tx{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: block;
    float: left;
    margin-right: 10px;
    margin-top: 18px;
}
.ketwo_yia{
    font-size: 16px;
    color: #333333;
    float: left;
    margin-top: 22px;
}
.ketwo_yiai{
    font-size: 30px;
    color: #e48012;
    float: right;
    font-style: normal;
    margin-top: 10px;
}
/*分页*/
.text_c{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.text_c a{
    height: 40px;
    line-height: 40px;
    display:block;
    float:left;
    text-align:center;
    border:1px solid #cccccc;
    margin-right:16px;
    color:#000;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    background: #ffffff;
    border-radius: 6px;
}
.text_c a:hover{
    color: #ffffff;
    background: #1268a3;
}
.text_c .text_a{
    color: #ffffff;
    background: #1268a3;
}
.about_one .tab-hd li a{
    color: #333333;
}
.about_one .tab-hd .active a{
    color: #fff;
}
/*分页*/
.list_one{
    width: 100%;
    background: #ffffff;
}
.list_yi{
    width: 1200px;
    margin: auto;
    background: #ffffff;
    padding-top: 40px;
    padding-bottom: 40px;
    display: table;
}
.list_img{
    width: 620px;
    height: 346px;
    float: left;
}
.list_er{
    font-size: 14px;
    color: #000000;
    margin-top: 18px;
}
.list_erb{
    color: #999999;
}
.list_eri{
    font-size: 30px;
    color: #e48012;
    font-style: normal;
}
.list_yip{
    font-size: 18px;
    color: #333333;
    margin-top: 30px;
    width: 540px;
}
.list_yidiv{
    float: left;
    margin-left: 30px;
}
.list_era{
    padding: 5px 11px 5px 11px;
    border: 1px solid #e48012;
    font-size: 14px;
    color: #e48012;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    margin-top: 40px;
}
.list_era:hover{
    background:#e48012;
    color: #ffffff;
}
.list_er2{
    margin-top: 30px;
}
.list_two{
    width: 1200px;
    margin: 40px auto;
}
.list_twocon{
    display: flex;
}
.list_twole{
    width: 820px;
    padding: 40px 35px 40px 35px;
    background: #ffffff;
}
.list_twori{
    width: 350px;
    background: #ffffff;
    margin-left: 30px;
}
.list_twoyou{
    background: #f8f8f8;
}
.list_twoh1{
    font-size: 18px;
    color: #333333;
    line-height: 46px;
    border-bottom: 1px solid #eaeaea;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 46px;
    background: #ffffff;
}
.list_twori .ketwo_yi{
    width: 350px;
    margin-bottom: 10px;
}
.list_twori .ketwo_yi .ketwo_yip{
    font-size: 16px;
    color: #333333;
    height: 46px;
}
.list_twori .ketwo_yi:hover{
    border-top:4px solid #ffffff;
}
.guan_one{
    width: 1200px;
    margin: 70px auto;
    display: flex;
    justify-content: space-between;
}
.guan_yi{
    width: 690px;
}
.guan_er{
    width: 425px;
}
.guan_yih1{
    font-size: 32px;
    color: #000000;
}
.guan_yip{
    font-size: 14px;
    color: #333333;
    line-height: 30px;
    margin-top: 40px;
}
.guan_yimg{
    width: 425px;
    height: 250px;
    display: block;
    object-fit: cover;
    margin-bottom: 20px;
}
.guan_two{
    width: 100%;
    background:#ffffff;
}
.guan_con{
    width: 1200px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 70px;
}
.guan_yih2{
    font-size: 20px;
    color: #000000;
    padding-top: 35px;
    margin-bottom: 10px;
}
.guan_tsp{
    font-size: 14px;
    color: #333333;
    display: block;
    line-height: 30px;
}
.map{
    width: 680px;
    height: 370px;
    margin-top: 30px;
}
#container{
    border-radius: 6px;
}